@font-face {
  font-family: 'Hi Melody';
  src: url(/HiMelody-Regular.ttf);
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  background-color: #fafafa;
  color: #1a1a1a;
  font-size: 26px;
  font-family: 'Hi Melody';
}
